# Python files
*.pyc
*.pyo
*.pyd
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/

# Django secret and local settings
*.sqlite3
db.sqlite3

# Migrations
*/migrations/
*/migrations/*.pyc
*/migrations/*.py[co]
*/migrations/__pycache__

# Media/uploads
media/

# Static files 
static/
staticfiles/

# VScode-specific files
.vscode/

